.film-category_container{
  margin-top: 5rem; 
  margin-bottom: 3rem;
} 
@media (min-width: 576px) {
  .film-category_container{
      margin-bottom:3rem;
  } 
} 
@media (min-width: 768px) {
  .film-category_box{
      height: 100%;
  }
  .film-category_results{
      flex: 0;
      height: 100%;
  }
  .film-category_nav{
      flex-basis: 100%;
      min-width: 275px;
  } 
}
@media (min-width: 992px) { 
  .film-category_container{
    margin-top:3rem;
  } 
}