<div class="row logg-container film-category_container mx-lg-1 px-lg-3 ">  
  <div class="col-12">
    <app-loader *ngIf="!loading"></app-loader> <!-- loader component --><!-- loading -->
    <div class="logg-form">
      <div class="logg-form__top">
        <div class="logg-form__name"> 
          <h3 class="logg-form__heading">Rejestracja</h3>
        </div> <!-- logg-form__name --> 
        <div class="logg-form__top-icon-box">
          <span class="icon-lock icon-loggin"></span>
        </div> <!-- logg-form__top-icon-box --> 
      </div> <!-- logg-form__top --> 
      <div class="logg-form__body">
        <p class="text-center mb-4">Zarejestruj sie przy pomocy:</p>
        <!-- Uncomment thios for FB login -->
        <!-- <div class="logg-form__social-item logg-form__social-item--facebook" (click)="onFbRegister()">
          <div class="logg-form__social-img-box logg-form__social-img-box--facebook">
            <span class="icon-fb icon-loggin"></span>
          </div> 
          <div class="logg-form__social-name">
            <span>Facebook</span>
          </div>
        </div> -->
        <div class="logg-form__social-item logg-form__social-item--gplus" (click)="onGoogleRegister()">
          <div class="logg-form__social-img-box logg-form__social-img-box--gplus">
            <span class="icon-gplus icon-loggin"></span>
          </div>
          <div class="logg-form__social-name"> 
            <span>Google plus</span>
          </div>     
        </div> <!-- logg-form__social-item -->   
        <p class="text-center mb-4"> lub przy użyciu adresu e-mail</p>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="logg-form__input">
            <input type="email" class="form-control logg-form_input" placeholder="Email użytkownika" formControlName="userMail">
            <div *ngIf="!registerForm.get('userMail').valid && registerForm.get('userMail').touched" class="logg-form__error-info">
              <span *ngIf="registerForm.get('userMail').errors['required']" class="logg-form__error-info">Pole jest wymagane</span>
              <span *ngIf="registerForm.get('userMail').errors['email'] && !registerForm.get('userMail').errors['required']" class="logg-form__error-info">Podany e-mail jest nieprawidłowy.</span>
            </div>
          </div> <!-- logg-form__input -->
          <div class="logg-form__input">
            <input type="text" class="form-control logg-form_input" placeholder="Hasło" formControlName="password">
            <div *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched" class="logg-form__error-info">
              <span *ngIf="registerForm.get('password').errors['required']" class="logg-form__error-info">Pole jest wymagane</span>
              <span *ngIf="registerForm.get('password').errors['minlength']" class="logg-form__error-info">Twoje hasło jest za krótkie</span>
            </div> <!-- logg-form__error-info -->
          </div> <!-- logg-form__input -->
          <div class="logg-form__input">
            <input type="text" maxlength="16" class="form-control logg-form_input" placeholder="Nazwa użytkownika" formControlName="userName">
            <div *ngIf="!registerForm.get('userName').valid && registerForm.get('userName').touched" class="logg-form__error-info">
              <span *ngIf="registerForm.get('userName').errors['required']" class="logg-form__error-info">Pole jest wymagane</span>
            </div>
          </div> <!-- logg-form__input -->
          <div class="logg-form__input logg-form__input--submit">
            <button class="btn btn--logging" type="submit" [disabled]="!registerForm.valid">ZAJERESTRUJ SIE</button>
          </div> 
        </form> 
        <p class="text-center mb-0">Masz już konto?<span class="logg-form__t-bold"><a class="logg-form__anchor" [routerLink]="['/auth/login']" > Zaloguj się!</a></span></p> 
      </div> <!--logg-form__body -->      
    </div> <!--/logg-form -->     
  </div> <!-- col-12 -->
</div> <!-- logg-container -->